
.icon-phone:before { content: '\e800'; } /* '' */
.icon-address:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */